In [1]:
import pickle
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("proj6_readings.sqlite")
cur = con.cursor()

### 2.1 Basic counting

In [ ]:
query = '''SELECT COUNT(DISTINCT detector_id) FROM readings'''

In [ ]:
df = pd.read_sql(query, con)
df

In [ ]:
df.to_pickle('proj6_ex01_detector_no.pkl')

### 2.2 Some stats

In [ ]:
query_2 = '''SELECT detector_id, count(count), min(starttime), max(starttime)
             FROM readings
             GROUP BY detector_id'''

In [ ]:
df2 = pd.read_sql(query_2, con)

In [ ]:
df2

In [ ]:
df2.to_pickle('proj6_ex02_detector_stat.pkl')

### 2.3 Moving Window

In [ ]:
query_3 = '''SELECT 
                detector_id,
                count,
                lag(count) OVER (PARTITION BY detector_id ORDER BY starttime) as prev_count
            FROM readings
            WHERE detector_id = 146
            LIMIT 500'''

In [ ]:
df3 = pd.read_sql(query_3, con)

In [ ]:
df3

In [ ]:
df3.to_pickle('proj6_ex03_detector_146_lag.pkl')

### 2.4 Window

In [ ]:
query_4 = '''SELECT detector_id,
               count,
               SUM(count) OVER (PARTITION BY detector_id ORDER BY starttime ROWS BETWEEN CURRENT ROW AND 10 FOLLOWING) AS window_sum
            FROM readings
            WHERE detector_id = 146
            LIMIT 500'''

In [ ]:
df4 = pd.read_sql(query_4, con)

In [ ]:
df4.head(500

     detector_id  count  window_sum
0            146      1           2
1            146      0           2
2            146      0           2
3            146      0           2
4            146      0           2
..           ...    ...         ...
495          146      0          20
496          146      2          22
497          146      2          21
498          146      2          21
499          146      2          21

[500 rows x 3 columns]

In [ ]:
df4.to_pickle('proj6_ex04_detector_146_sum.pkl')

In [ ]:
con.close()